<%- include ('partials/_header')  %>
<form action="/agregarPaseador" method="post" >
    <label for="nombre">Nombre y apellido:</label>
    <input type="text" id="nombre" name="nombre"><br><br>
    <label for="zonas" maxlength="300" size="300">Zonas:</label>
    <input type="text" id="zonas" name="zonas"><br><br>
    <label for="descripcion">Descripcion:</label>
    <input type="text" maxlength="300" size="300" id="descripcion" name="descripcion"><br><br>
    <input type="submit" value="Submit">
  </form>
<%- include ('partials/_footer') %>

