<%- include ('vistas') %>
<body>    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Usuario</th>            
            </tr>
        </thead>
        <tbody>
            <%if (data1){%>
                  <% for (i=0;i<data1.length;i++){%>
                  <tr>
                    <td><%= data1[i].nombre%></td> 
                    <td><%= data1[i].email%></td>    
                  </tr>  
                <%}%> 
            <%}%>   
        </tbody>
    </table>
</body>
</html>
<%- include ('partials/_footer') %>
