<%- include ('vistas') %>
<body>    
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nombre</th>
                <th></th>            
            </tr>
        </thead>
        <tbody>
            <%if (data){%>
                    <% for (i=0;i<data.length;i++){%>
                    <td><tr><%=data[i].nombrePerro%></td></tr>
                                   
                <%}%> 
            <%}%>   
        </tbody>
    </table>
</body>
</html>
<%- include ('partials/_footer') %>
