<%- include ('vistas') %>
  <form class="registro" action="/solicitarTurno" method="POST">
    <h3>Solicitando Turno</h3>  
    <label for="usuario" >Usuario:</label><br>
    <input type="text" id="usuario" name="usuario" value="<%-user[0].email%>"><br>
    
    <label for="tipoTurno" >Preferencia Franja Horarias</label>
    <br>
      <select name="tipoTurno" id>
        <option value="Ma침ana">Ma침ana</option>
        <option value="Tarde">Tarde</option>
      </select>   
    </br>

    <label for="tipoServicio" >Tipo de Servicio:</label><br>
    <select name="tipoServicio" id="tipoServicio">
      <option value="vacunacion">Vacunaci칩n</option>
      <option value="esterilizacion">Esterilizaci칩n</option>
      <option value="aseo">Cauterizacion</option>
    </select><br>

    <button type="submit" class="btn btn-info-orange">Confirmar</button>
    <a href ="/" type="submit" class="btn btn-info-orange">Cancelar</a>
  </form>
  <%- include ('partials/_footer') %>