 <%- include('partials/_header') %>


<form  class="recuperar" action="/verificar" method="post">
     <div>
     <input placeholder="Ingrese correo valido" name="email" required></input>
     </div>
     <div>
          <input type="password" placeholder="Ingrese contraseña actual" required name="pass1">
     </div>
     <div>
     <input type="password" placeholder="Ingrese contraseña nueva" required name="confirmpass1">
     </div>
     <button type="submit" class="btn btn-primary">Enviar</button>
     <a href="/" type="button">Cancelar</a>
            

</form>

<%- include ('partials/_footer') %>