
<table class="container" id="content">
    <tr>
      <td>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">perro nombre</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-warning">Contacto</button>
          </div>
        </div>
      </td>
      <td>
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">perro adoptado</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <button class="btn btn-warning">Contacto</button>
          </div>
      </td>
  
    </tr>
  
    </div>
  
  
  
  
  </table>